{% extends "Veterinaria/header_y_footer.html" %}

{% block contenido_pagina %}

<div class="container">
    <h3>Veterinaria Coder House</h3>
<a href="formulario_veterinario/">Formulario para Guardar Veterinario</a><br>
<a href="buscar_veterinario/"> Formulario para Buscar Veterinario</a><br><br>

<a href="formulario_animal/"> Formulario para Guardar Animal</a><br>
<a href="buscar_animal/"> Formulario para Buscar Animal</a><br><br>

<a href="formulario_cliente/"> Formulario para Guardar Cliente</a><br>
<a href="buscar_cliente/"> Formulario para Buscar Cliente</a><br>
</div>
{% endblock %}
